<!--suppress JSUnusedGlobalSymbols, JSUnresolvedVariable, JSUnusedLocalSymbols, JSUnresolvedFunction, NpmUsedModulesInstalled -->
<template>
  <q-layout>
    <q-layout-header color="primary">
      <q-tabs>
        <q-route-tab slot="title" icon="vpn_key" to="/login" replace :label="$i18n.t('login_page_tab_login')"></q-route-tab>
        <q-route-tab :v-show="showRegistrationTab" slot="title" icon="how_to_reg"
          to="/register" replace :label="$i18n.t('login_page_tab_register')"></q-route-tab>
        <q-route-tab slot="title" icon="restore" to="/restore" replace :label="$i18n.t('login_page_tab_restore')"></q-route-tab>
      </q-tabs>
    </q-layout-header>
    <q-layout-footer>
      <q-toolbar>
        <q-toolbar-title>
          {{this.footer}}
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-footer>
    <q-page-container>
      <router-view />
      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-fab  color="orange-8" icon="keyboard_arrow_up" direction="up">
          <q-fab-action color="primary" @click="handleSettingsDialog" icon="build">
            <q-tooltip>
              {{$t('setting_dialog_title')}}
            </q-tooltip>
          </q-fab-action>
        </q-fab>
      </q-page-sticky>
      <q-context-menu>
        <q-list link separator style="min-width: 150px; max-height: 300px;">
          <q-item v-close-overlay @click.native="handleSettingsDialog()">
            <q-item-main :label="$i18n.t('login_page_contextmenu_settings')"></q-item-main>
          </q-item>
        </q-list>
      </q-context-menu>
    </q-page-container>
    <q-custom-dialog color="primary" position="top" :title="$i18n.t('setting_dialog_title')" icon="build" ref="settingsDialog">
      <q-select style="min-height:40px" :stack-label="$i18n.t('setting_dialog_select_label')" :options="[
        { label: $i18n.t('setting_dialog_select_option_value_english'), value: 'en-us' },
        { label: $i18n.t('setting_dialog_select_option_value_russian'), value: 'ru' }
        ]" v-model="lang">
      </q-select>
      <q-toggle v-model="tabNeeded" :disabled="true" color="secondary" :label="$i18n.t('setting_dialog_toggle_label')" style="margin-top:20px"></q-toggle>
    </q-custom-dialog>
  </q-layout>
</template>

<script>
import QCustomDialog from '../components/dialogs/QCustomDialog'
import { localStorageKeys } from '../helpers/localStorageKeys'
import { date } from 'quasar'

export default {
  name: 'Auth',
  data () {
    return {
      leftDrawer: true,
      lang: this.$q.i18n.lang,
      tabNeeded: true,
      showRegistrationTab: true,
      footer: this.$i18n.t('footer', [date.formatDate(Date.now(), 'YYYY-MM-DD')])
    }
  },
  components: {
    'q-custom-dialog': QCustomDialog
  },
  methods: {
    handleSettingsDialog: function () {
      this.$refs.settingsDialog.show()
    },
    handlerPositive: function () {
      this.$q.notify({
        message: this.$i18n.t('success'),
        timeout: 0,
        type: 'positive',
        color: 'positive',
        textColor: 'black',
        icon: 'check_circle_outline',
        detail: this.$i18n.t('optional_message'),
        position: 'top-right',
        actions: [
          {
            icon: 'close',
            label: this.$i18n.t('dismiss'),
            handler: () => {}
          }
        ]
      })

      this.$axios.get('/api/users').then(response => console.info(response)).catch(reason => console.error(reason))
    },
    handlerNegative: function () {
      this.$q.notify({
        message: this.$i18n.t('failed'),
        timeout: 0,
        type: 'negative',
        color: 'negative',
        textColor: 'black',
        icon: 'cancel',
        detail: this.$i18n.t('optional_message'),
        position: 'top-right',
        actions: [
          {
            icon: 'close',
            label: this.$i18n.t('dismiss'),
            handler: () => {}
          }
        ]
      })
    }
  },
  created () {
    this.lang = this.$q.localStorage.has(localStorageKeys.LANGUAGE_KEY)
      ? this.$q.localStorage.get.item(localStorageKeys.LANGUAGE_KEY)
      : this.$q.i18n.lang
    this.$q.i18n.set(this.lang.default)
    this.$locale.change(this.lang)
    import(`src/i18n/${this.lang}`).then(lang => { this.$q.i18n.set(lang.default) })

    this.$root.$on('accepted', () => {
      this.$q.i18n.set(this.lang.default)
      this.$locale.change(this.lang)
      import(`src/i18n/${this.lang}`).then(lang => { this.$q.i18n.set(lang.default) })
      this.$q.localStorage.set(localStorageKeys.LANGUAGE_KEY, this.lang)
      this.$refs.settingsDialog.close()
      this.showRegistrationTab = this.tabNeeded
      this.footer = this.$i18n.t('footer', [date.formatDate(Date.now(), 'YYYY-MM-DD')])
      console.info('Current locale: ' + this.$locale.getLocale())
      this.$nextTick()
    })
  },
  watch: {
    '$route' (to, from) {
      this.$q.loadingBar.start()
      this.$q.loadingBar.stop()
    }
  },
  computed: {
  }
}
</script>
