<!--suppress JSUnusedLocalSymbols, JSUnusedGlobalSymbols, NpmUsedModulesInstalled, JSUnresolvedVariable, JSUnresolvedFunction, HtmlUnknownAttribute, JSDeprecatedSymbols -->
<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="primary" class="q-toolbar-add" :glossy="$q.theme === 'mat'" :inverted="$q.theme === 'ios'">
        <q-btn class="q-btn-add" flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu"></q-icon>
        </q-btn>
        <q-toolbar-title>
          {{$t('app_title')}}
          <span slot="subtitle">{{user}}</span>
        </q-toolbar-title>
        <q-btn flat dense icon="build" class="q-mr-sm q-btn-add" @click="handleSettingsDialog"></q-btn>
        <q-btn flat dense class="relative-position q-btn-add" @click="toggleFullscreen()" :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'"></q-btn>
        <q-btn flat dense icon="update" :disabled="updateMessages.length === 0" class="relative-position q-btn-add">
          <span class="floating label">{{updateMessages.length}}</span>
          <q-popover persistent self="top right" >
            <q-timeline responsive color="secondary">
              <q-timeline-entry v-for="(updateMessage, index) in updateMessages" v-bind:key="index"
                                :title="updateMessage.title" :subtitle="updateMessage.subtitle" side="left" color="orange" icon="done_all"></q-timeline-entry>
            </q-timeline>
          </q-popover>
        </q-btn>
        <q-btn flat dense icon="people" :disabled="tweeterAccounts.length === 0" class="relative-position q-btn-add">
          <span class="floating label">{{tweeterAccounts.length}}</span>
          <q-popover persistent self="top right" >
            <div class="list striped">
              <p v-ripple style="height: 35px" class="caption no-margin text-center text-white bg-teal">{{$t('main_panel_page_toolbar_account_popover_title')}}</p>
              <q-list highlight inset-separator v-ripple>
                <q-item class="q-item-cur" v-ripple v-for="(tweeterAccount, index) of tweeterAccounts" v-bind:key="index" >
                  <q-item-side :avatar="tweeterAccount[1][0].imageUrl"></q-item-side>
                  <q-item-main label-lines="1" :label="tweeterAccount[1][0].fullName" :sublabel="tweeterAccount[1].length.toString()"> </q-item-main>
                  <q-item-side right>
                    <q-item-tile icon="link" @click.native="openURL('https://twitter.com/' + tweeterAccount[1][0].user)"></q-item-tile>
                  </q-item-side>
                </q-item>
              </q-list>
            </div>
          </q-popover>
        </q-btn>
        <q-btn flat dense class="q-mr-sm q-btn-add" :label="this.$i18n.t('main_panel_page_layout_header_button_logout')" @click="logout"></q-btn>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer :mini="miniState"
      v-model="leftDrawerOpen" :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null">
      <div class="row flex-center bg-white" style="height: 50px" @click="drawerClick">
        <img alt="Twitter Social logo" src="/assets/Twitter_Social_Icon_Circle_Color.svg" style="height: 40px; width: 40px;">
      </div>
      <q-list no-border link inset-delimiter>
        <q-list-header></q-list-header>
        <q-item  to="/">
          <q-item-side icon="message"></q-item-side>
          <q-item-main :label="this.$i18n.t('main_panel_page_drawer_list_item_tweets')" ></q-item-main>
          <q-tooltip>
            {{$t('main_panel_page_drawer_list_item_tweets')}}
          </q-tooltip>
        </q-item>
        <q-item-separator></q-item-separator>
        <q-item  to="/accounts">
          <q-item-side icon="people"></q-item-side>
          <q-item-main :label="this.$i18n.t('main_panel_page_drawer_list_item_accounts')" ></q-item-main>
          <q-tooltip>
            {{$t('main_panel_page_drawer_list_item_accounts')}}
          </q-tooltip>
        </q-item>
        <q-item  to="/stats">
          <q-item-side icon="pie_chart"></q-item-side>
          <q-item-main :label="this.$i18n.t('main_panel_page_drawer_list_item_stats')" ></q-item-main>
          <q-tooltip>
            {{$t('main_panel_page_drawer_list_item_stats')}}
          </q-tooltip>
        </q-item>
      </q-list>
    </q-layout-drawer>
    <q-page-container>
      <transition :enter-active-class="animationType" mode="out-in" :duration="700" @leave="resetScroll">
        <router-view></router-view>
      </transition>
      <q-page-sticky position="top-right" :offset="[0, 100]">
        <a icon="keyboard_arrow_up" v-back-to-top.animate="{offset: 200, duration: 700}"
          class="animate-pop play-backtotop non-selectable shadow-24 shadow-transition"
          v-ripple>
          {{$t('main_panel_page_fab_action_up')}}
        </a>
      </q-page-sticky>
      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-fab color="purple" icon="keyboard_arrow_up" direction="up">
          <q-fab-action color="primary" @click="handleSettingsDialog" icon="build">
            <q-tooltip>
              {{$t('setting_dialog_title')}}
            </q-tooltip>
          </q-fab-action>
          <q-fab-action color="primary" @click="handleRefresh" icon="refresh">
            <q-tooltip>
              {{$t('main_panel_page_fab_action_refresh')}}
            </q-tooltip>
          </q-fab-action>
          <q-fab-action v-back-to-top.animate="{offset: 200, duration: 700}" color="primary" icon="keyboard_arrow_up">
            <q-tooltip>
              {{$t('main_panel_page_fab_action_up')}}
            </q-tooltip>
          </q-fab-action>
        </q-fab>
      </q-page-sticky>
    </q-page-container>
    <q-layout-footer>
    </q-layout-footer>
    <q-custom-dialog color="primary" position="top" :title="$i18n.t('setting_dialog_title')" icon="build" ref="settingsDialog">
      <q-select style="min-height:40px" :stack-label="$i18n.t('setting_dialog_select_label')" :options="[
        { label: $i18n.t('setting_dialog_select_option_value_english'), value: 'en-us' },
        { label: $i18n.t('setting_dialog_select_option_value_russian'), value: 'ru' }
        ]" v-model="lang">
      </q-select>
      <q-select style="min-height:40px" :stack-label="$i18n.t('setting_dialog_select_animation_label')" :options="[
        { label: 'fadeIn', value: 'animated fadeIn' },
        { label: 'fadeOut', value: 'animated fadeOut' },
        { label: 'lightSpeedIn', value: 'animated lightSpeedIn' },
        { label: 'flip', value: 'animated flip' },
        { label: 'flipInX', value: 'animated flipInX' },
        { label: 'flipInY', value: 'animated flipInY' },
        { label: 'flipInY', value: 'animated flipInY' },
        { label: 'flipOutY', value: 'animated flipOutY' },
        { label: 'rotateIn', value: 'animated rotateIn' },
        { label: 'rotateInDownLeft', value: 'animated rotateInDownLeft' },
        { label: 'rotateInDownLeft', value: 'animated rotateInDownLeft' },
        { label: 'rotateOut', value: 'animated rotateOut' },
        { label: 'rotateOutDownLeft', value: 'animated rotateOutDownLeft' },
        { label: 'rotateOutDownRight', value: 'animated rotateOutDownRight' },
        { label: 'slideInUp', value: 'animated slideInUp' },
        { label: 'slideInDown', value: 'animated slideInDown' },
        { label: 'slideInLeft', value: 'animated slideInLeft' },
        { label: 'slideInRight', value: 'animated slideInRight' },
        { label: 'zoomIn', value: 'animated zoomIn' },
        { label: 'zoomInUp', value: 'animated zoomInUp' },
        { label: 'zoomInDown', value: 'animated zoomInDown' },
        { label: 'zoomInLeft', value: 'animated zoomInLeft' },
        { label: 'zoomInLeft', value: 'animated zoomInLeft' },
        { label: 'rollIn', value: 'animated rollIn' },
        { label: 'rollOut', value: 'animated rollOut' },
        { label: 'hinge', value: 'animated hinge' },
        { label: 'jackInTheBox', value: 'animated jackInTheBox' },
        { label: 'shake', value: 'animated shake' }
        ]" v-model="animationType">
      </q-select>
      <q-checkbox style="padding: 14px 0 0 0; font-size: 0.75rem;" v-model="scrapAll" :label="this.$i18n.t('setting_dialog_checkbox_scrap_all')"></q-checkbox>
      <div class="q-if-label q-if-label-above">
        <div style="font-size: 0.75rem; margin-top: 10px" class="q-if-label-inner ellipsis">{{$t('setting_dialog_slider_number_tweets_label')}}</div>
      </div>
      <q-slider style="padding: 14px 0 0 0" v-model="tweetsSize" :min="20" :max="80" :step="20" label-always markers snap label></q-slider>
      <div class="q-if-label q-if-label-above">
        <div style="font-size: 0.75rem; margin-top: 10px" class="q-if-label-inner ellipsis">{{$t('setting_dialog_slider_number_seconds_update_label')}}</div>
      </div>
      <q-slider style="padding: 14px 0 0 0" v-model="interval" :min="30" :max="1200" :step="30" label-always markers snap label></q-slider>
    </q-custom-dialog>
  </q-layout>
</template>

<script>
import { openURL, date } from 'quasar'
import { mapGetters, mapMutations } from 'vuex'
import QCustomDialog from '../components/dialogs/QCustomDialog'
import { localStorageKeys } from '../helpers/localStorageKeys'
import mixin from '../mixins/mixin'

export default {
  name: 'MyLayout',
  mixins: [mixin],
  data () {
    return {
      leftDrawerOpen: true,
      lang: this.$q.i18n.lang,
      miniState: true,
      timerIntervalId: null,
      tweetsSize: 20,
      scrapAll: false,
      interval: 300,
      version: '0.1.1',
      animationType: 'animated fadeIn'
    }
  },
  components: {
    'q-custom-dialog': QCustomDialog
  },
  beforeCreate () {
    this.$root.$emit('hide-q-alert')
  },
  created () {
    this.lang = this.$q.localStorage.has(localStorageKeys.LANGUAGE_KEY)
      ? this.$q.localStorage.get.item(localStorageKeys.LANGUAGE_KEY)
      : this.$q.i18n.lang
    this.$q.i18n.set(this.lang.default)
    this.$locale.change(this.lang)
    this.animationType = this.$q.localStorage.has(localStorageKeys.ANIMATION_TYPE_KEY)
      ? this.$q.localStorage.get.item(localStorageKeys.ANIMATION_TYPE_KEY)
      : 'animated fadeIn'
    this.interval = this.$q.localStorage.has(localStorageKeys.TIMER_INTERVAL_KEY)
      ? this.$q.localStorage.get.item(localStorageKeys.TIMER_INTERVAL_KEY)
      : 300
    this.setTimerInterval(this.interval)
    this.tweetsSize = this.$q.localStorage.has(localStorageKeys.VIEW_FRAME_SIZE_KEY)
      ? this.$q.localStorage.get.item(localStorageKeys.VIEW_FRAME_SIZE_KEY)
      : 20
    this.scrapAll = this.$q.localStorage.has(localStorageKeys.SCRAP_ALL_TWEETS_KEY)
      ? this.$q.localStorage.get.item(localStorageKeys.SCRAP_ALL_TWEETS_KEY)
      : false
    this.setScrapAll(this.scrapAll)
    let user = this.$q.localStorage.has(localStorageKeys.USER_KEY)
      ? this.$q.localStorage.get.item(localStorageKeys.USER_KEY)
      : ''
    this.setUser(user)
    this.intervalId = setInterval(this.timerHandler, this.getTimerInterval())
    this.setTimerIntervalId(this.intervalId)

    import(`src/i18n/${this.lang}`).then(lang => { this.$q.i18n.set(lang.default) })
    this.$root.$on('accepted', () => {
      this.$q.i18n.set(this.lang.default)
      this.$locale.change(this.lang)
      import(`src/i18n/${this.lang}`).then(lang => { this.$q.i18n.set(lang.default) })
      this.$q.localStorage.set(localStorageKeys.LANGUAGE_KEY, this.lang)
      this.$refs.settingsDialog.close()
      this.showRegistrationTab = this.tabNeeded
      this.footer = this.$i18n.t('footer', [date.formatDate(Date.now(), 'YYYY-MM-DD')])
      console.info('Current locale: ' + this.$locale.getLocale())
      this.$q.localStorage.set(localStorageKeys.ANIMATION_TYPE_KEY, this.animationType)
      console.info('Current animation type: ' + this.animationType)
      this.setTimerInterval(this.interval)
      this.$q.localStorage.set(localStorageKeys.TIMER_INTERVAL_KEY, this.interval)
      this.setNumTweets(this.tweetsSize)
      this.$q.localStorage.set(localStorageKeys.VIEW_FRAME_SIZE_KEY, this.tweetsSize)
      this.setScrapAll(this.scrapAll)
      this.$q.localStorage.set(localStorageKeys.SCRAP_ALL_TWEETS_KEY, this.scrapAll)
      this.updateTimerHandler()
      this.$nextTick()
    })
  },
  computed: {
    ...mapGetters(['getTweets', 'getViewedTweets', 'getGroupedTweets', 'getUpdateMessages', 'getUser']),
    tweeterAccounts () {
      return this.getGroupedTweets
    },
    updateMessages () {
      return this.getUpdateMessages
    },
    user () {
      return this.getUser
    }
  },
  methods: {
    ...mapGetters(['getTweets', 'getViewedTweets', 'getTimerInterval', 'getTimerIntervalId']),
    ...mapMutations(['setAuth', 'setTimerInterval', 'setNumTweets', 'setTweets', 'setViewedTweets', 'setScrapAll', 'setUser', 'setTimerIntervalId']),
    openURL,
    timerHandler: function () {
      this.$root.$emit('timer_refresh')
    },
    updateTimerHandler: function () {
      clearInterval(this.getTimerIntervalId())
      this.intervalId = setInterval(this.timerHandler, this.getTimerInterval())
      this.setTimerIntervalId(this.intervalId)
    },
    handleSettingsDialog: function () {
      this.$refs.settingsDialog.show()
    },
    resetScroll (el, done) {
      document.documentElement.scrollTop = 0
      document.body.scrollTop = 0
      done()
    },
    drawerClick (e) {
      this.miniState = !this.miniState
      e.stopPropagation()
    },
    handleRefresh: function () {
      this.$root.$emit('refresh')
    },
    logout () {
      this.$q.dialog({
        color: 'primary',
        title: this.$i18n.t('confirm'),
        message: this.$i18n.t('logout_message'),
        ok: 'OK',
        cancel: this.$i18n.t('cancel')
      }).then(() => {
        this.$root.$emit('remove-timer')
        clearInterval(this.getTimerIntervalId())
        this.clearBeforeLogout()
        this.$router.replace('/login')
      }).catch(() => {
      })
    },
    toggleFullscreen () {
      this.$q.fullscreen.toggle()
    }
  }
}
</script>

<style lang="stylus">
  @import '~variables'

  .play-backtotop
    color white
    top 30%
    padding 15px
    width 90px
    background-color $secondary
    border-radius 15px 0 0 15px
    &:hover
      color $grey-4

  .q-toolbar-add
    max-height 50px
  .q-btn-add
    margin-bottom 0

</style>
