<!--suppress JSUnusedGlobalSymbols, JSCheckFunctionSignatures -->
<template>
  <div>
    <q-card class="q-ma-sm q-margin-canvas shadow-24 shadow-transition">
      <q-card-title>
        <div slot="subtitle">{{$t('chart_page_card_title')}}</div>
      </q-card-title>
      <q-card-main>
        <div class="card-content">
          <canvas id="chart" ref="chart"></canvas>
          <canvas id="zoom" class="q-shadow-24-canvas q-shadow-transition-canvas" width="400" height="200" style="position:absolute; top:0; left:0; display:none"></canvas>
        </div>
      </q-card-main>
      <q-card-separator></q-card-separator>
      <q-card-actions>
        <q-select :stack-label="$i18n.t('chart_page_chart_select_stack_label')" chips inverted-light color="secondary" separator
                  @input="onChartSelectChanged" :options="[
          { label: $i18n.t('chart_page_chart_select_option_value_linear'), value: 'linear' },
          { label: $i18n.t('chart_page_chart_select_option_value_bar'), value: 'bar' },
          { label: $i18n.t('chart_page_chart_select_option_value_polar'), value: 'polarArea' },
          { label: $i18n.t('chart_page_chart_select_option_value_pie'), value: 'pie' }
          ]" v-model="chartType">
        </q-select>
        <q-toggle :left-label="true" :label="$i18n.t('chart_page_chart_toggle_magnifier_label')" style="margin-left: 10px"
                  color="secondary" :icon="toggleMagnifier ? 'zoom_out' : 'zoom_in'" v-model="toggleMagnifier"
                  @input="onToggleMagnifier"></q-toggle>
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>
import Chart from 'chart.js'
import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'Charts',
  data () {
    return {
      users: [],
      lens: [],
      chartType: 'linear',
      ctx: null,
      zoomCtx: null,
      chart: null,
      toggleMagnifier: false
    }
  },
  mounted () {
    const getColumn = (array, n) => array.map(x => x[n])
    const groupedTweets = this.getGroupedTweets()
    this.users = getColumn(groupedTweets, 0)
    this.lens = groupedTweets.map(t => t[1].length)
    this.ctx = document.getElementById('chart').getContext('2d')
    this.zoomCtx = document.getElementById('zoom').getContext('2d')
    window.addEventListener('resize', function () {
      let magnifier = document.getElementById('zoom')
      magnifier.style.top = document.body.clientHeight - 200 - 20 + 'px'
      magnifier.style.left = document.body.clientWidth - 400 - 20 + 'px'
    })
    this.createLineChart()
  },
  methods: {
    ...mapGetters(['getTweets', 'getGroupedTweets']),
    ...mapMutations(['setAuth']),
    getRandomColor () {
      const letters = '0123456789ABCDEF'
      let color = '#'
      for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)]
      }
      return color
    },
    getRandomColors (array) {
      let colors = []
      for (let i = 0; i < array.length; i++) {
        colors.push(this.getRandomColor())
      }
      return colors
    },
    createLineChart () {
      this.chart = new Chart(this.ctx, {
        type: 'line',
        data: {
          labels: this.users,
          datasets: [
            {
              label: this.$i18n.t('chart_page_chart_label'),
              fill: false,
              lineTension: 0.1,
              backgroundColor: 'rgba(75,192,192,0.4)',
              borderColor: 'rgba(75,192,192,1)',
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: 'rgba(75,192,192,1)',
              pointBackgroundColor: '#fff',
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: 'rgba(75,192,192,1)',
              pointHoverBorderColor: 'rgba(220,220,220,1)',
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: this.lens,
              spanGaps: false
            }]
        },
        options: {
          animation: {
            duration: 2000,
            easing: 'easeOutQuart'
          },
          tooltips: {
            enabled: true
          }
        }
      })
      window.chart = this.chart
    },
    createChart (type) {
      this.chart = new Chart(this.ctx, {
        type: type,
        data: {
          labels: this.users,
          datasets: [
            {
              label: this.$i18n.t('chart_page_chart_label'),
              backgroundColor: this.getRandomColors(this.lens),
              borderColor: this.getRandomColors(this.lens),
              borderWidth: 1,
              fill: false,
              data: this.lens
            }]
        },
        options: {
          animation: {
            duration: 2000,
            easing: 'easeOutQuart'
          },
          tooltips: {
            enabled: true
          }
        }
      })
    },
    onChartSelectChanged (value) {
      this.chart.destroy()
      if (value === 'linear') {
        this.createLineChart()
        return
      }
      this.createChart(value)
    },
    onToggleMagnifier () {
      let chart = document.getElementById('chart')
      let magnifier = document.getElementById('zoom')
      magnifier.style.top = document.body.clientHeight - 200 - 20 + 'px'
      magnifier.style.left = document.body.clientWidth - 400 - 20 + 'px'
      let eventHandler = (e) => {
        this.zoomCtx.fillStyle = 'white'
        this.zoomCtx.fillRect(0, 0, chart.width, chart.height)
        this.zoomCtx.drawImage(chart, e.x - document.body.clientWidth / 4, e.y - document.body.clientHeight / 4, 200, 100, 0, 0, 400, 200)
      }
      if (this.toggleMagnifier) {
        magnifier.style.display = 'block'
        chart.addEventListener('mousemove', eventHandler)
      } else {
        magnifier.style.display = 'none'
        chart.removeEventListener('mousemove', eventHandler)
      }
    }
  }
}
</script>

<style>
  .q-margin-canvas {
    margin: 3% 10% 20px;
  }
  .q-shadow-24-canvas {
    -webkit-box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2), 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12);
    box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2), 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12);
  }
  .q-shadow-transition-canvas {
    -webkit-transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
</style>
