<!--suppress HtmlUnknownTarget, NpmUsedModulesInstalled, JSUnusedGlobalSymbols, JSIgnoredPromiseFromCall -->
<template>
  <div>
    <div style="" class="q-ma-sm q-margin-jumbotron shadow-24 shadow-transition" v-if="viewedTweets.length === 0 && this.loaded">
      <q-jumbotron class="bg-primary" dark v-ripple>
        <div class="q-display-3">{{$t('tweets_page_jumbotron_title')}}</div>
        <div class="q-subheading">
          {{$t('tweets_page_jumbotron_subheading')}}
        </div>
      </q-jumbotron>
    </div>
    <q-infinite-scroll v-if="viewedTweets.length !== 0" ref="infiniteScroll" :handler="refresher">
      <q-card class="q-ma-sm q-margin q-card-text-wrap shadow-24 shadow-transition" v-for="(tweet, index) in viewedTweets" v-bind:key="index">
        <q-item class="q-item-cur" v-ripple @click.native="openURL('https://twitter.com/' + tweet.user)">
          <q-item-side :avatar="tweet.imageUrl"></q-item-side>
          <q-item-main>
            <q-item-tile label class="text-bold">{{tweet.fullName}}</q-item-tile>
            <q-item-tile sublabel class="q-card-spec-title">{{tweet.user}}</q-item-tile>
          </q-item-main>
        </q-item>
        <q-card-title>
          <span slot="subtitle">{{new Date(tweet.timestamp).toLocaleString()}}</span>
          <q-btn v-ripple slot="right" flat icon="link" @click.native="openURL('https://twitter.com' + tweet.url)"></q-btn>
        </q-card-title>
        <q-card-main>
          <div v-html="tweet.html"></div>
        </q-card-main>
        <q-card-separator v-if="tweet.adaptiveImageUrl !== null"></q-card-separator>
        <q-collapsible :opened="true" v-if="tweet.adaptiveImageUrl !== null">
          <img alt="" :src="tweet.adaptiveImageUrl" width="100%" v-if="tweet.images.length === 0" />
          <q-carousel color="amber" quick-nav :autoplay="false" v-if="tweet.images.length !== 0">
            <q-carousel-slide v-for="(image, index) in tweet.images" :key="index + 1" class="flex flex-center">
              <img alt="" :src="image"/>
            </q-carousel-slide>
            <q-carousel-control slot="control-nav" slot-scope="carousel" :offset="[18, 52]">
              <q-btn @click="carousel.previous" :disable="!carousel.canGoToPrevious" color="amber" text-color="black" icon="keyboard_arrow_left" round dense class="q-mr-sm"></q-btn>
              <q-btn @click="carousel.next" :disable="!carousel.canGoToNext" color="amber" text-color="black" icon="keyboard_arrow_right" round dense ></q-btn>
            </q-carousel-control>
            <q-btn slot="quick-nav" slot-scope="props" color="white" flat dense :label="`${props.slide + 1}`" @click="props.goToSlide()" :class="{inactive: !props.current}"></q-btn>
            <q-carousel-control slot="control-button" slot-scope="carousel" position="bottom-right" :offset="[18, 10]">
              <q-btn round dense push color="amber" :icon="carousel.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" @click="carousel.toggleFullscreen()"></q-btn>
            </q-carousel-control>
          </q-carousel>
        </q-collapsible>
        <q-card-separator></q-card-separator>
        <q-card-actions>
          <q-btn icon="thumb_up_alt" round color="light-green-14" flat>{{tweet.likes}}</q-btn>
          <q-btn icon="chat_bubble_outline" round color="amber-10" flat>{{tweet.replies}}</q-btn>
          <q-btn icon="share" flat round color="primary">{{tweet.retweets}}</q-btn>
        </q-card-actions>
      </q-card>
      <div class="row justify-center" style="margin-bottom: 50px;">
        <q-spinner-dots v-if="showSpinnerDots" slot="message" :size="40"></q-spinner-dots>
      </div>
    </q-infinite-scroll>
    <q-inner-loading :visible="visible">
      <q-spinner-facebook size="100px" color="primary">{{$t('loading_message')}}</q-spinner-facebook>
    </q-inner-loading>
  </div>
  </template>

<style>
  .q-margin {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 768px) {
    .q-margin {
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 20px;
    }
  }
  .q-card-text-wrap {
    overflow-wrap: break-word;
  }
  .q-margin-jumbotron {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    width: 700px;
    max-width: 90vw;
  }

  .q-card-spec-title {
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    margin-left: 5px;
  }
  .q-item-cur {
    cursor:pointer;
  }
</style>

<script>
import { openURL } from 'quasar'
import { mapGetters, mapMutations } from 'vuex'
import mixin from '../mixins/mixin'
import SockJS from 'sockjs-client'
import Stomp from 'webstomp-client'

export default {
  name: 'PageIndex',
  mixins: [mixin],
  data () {
    return {
      visible: false,
      autoplay: false,
      loaded: false,
      showSpinnerDots: true,
      intervalId: null,
      slide: 0,
      audio: null
    }
  },
  computed: {
    ...mapGetters(['getTweets', 'getViewedTweets', 'getGroupedTweets', 'getUpdateMessages']),
    tweets () {
      return this.getTweets
    },
    viewedTweets () {
      return this.getViewedTweets
    }
  },
  methods: {
    openURL,
    ...mapMutations(['setTweets', 'setAuth', 'setGroupedTweets', 'setUpdateMessages', 'setViewedTweets', 'setUpdateNeeded', 'setUser', 'setTimerIntervalId', 'setEventsRegistered']),
    ...mapGetters(['getTimerInterval', 'getViewedTweets', 'getTweets', 'getNumTweets', 'getUpdateNeeded', 'getScrapAll', 'getTimerIntervalId', 'getEventsRegistered']),
    connect () {
      this.socket = new SockJS('/tweets')
      this.stomp = Stomp.over(this.socket)
      this.stomp.connect({}, frame => {
        this.connected = true
        console.log(frame)
        this.stomp.subscribe('/user/queue/tweets-update', message => {
          console.log(message)
        })
        this.stomp.subscribe('/user/queue/errors', message => {
          console.error(message)
        })
      }, error => {
        console.error(error)
      })
      this.stomp.disconnect(() => {
      })
    },
    disconnect () {
      if (this.stomp) {
        this.stomp.disconnect()
      }
      this.connected = false
    },
    requestTweets () {
      this.visible = true
      let that = this
      this.$axios.get('/api/tweets', { params: { scrapAll: this.getScrapAll() } }).then(response => {
        window.tweets = response.data
        let tweets = response.data.sort(function (x, y) {
          return y.timestamp - x.timestamp
        })
        this.setTweets(tweets)
        this.setGroupedTweets(tweets)
        if (this.viewedTweets.length === 0) {
          this.setViewedTweets(tweets.slice(0, this.getNumTweets()))
        } else {
          let num = this.getViewedTweets.length
          this.getViewedTweets.length = 0
          this.setViewedTweets(tweets.slice(0, num))
        }
        this.visible = false
        this.loaded = true
        this.setUpdateNeeded(false)
        this.audio.play()
      }).catch(error => {
        let message = that.$i18n.t('failed')
        let details = ''
        if (error.response) {
          if (error.response.status === 417) {
            details = error.response.data.error + ' ' + error.response.data.message
          } else {
            details = error.response.status + ' ' + error.response.statusText
          }
        } else if (error.request) {
          details = error.request
        } else {
          details = error.message
        }
        console.error(error)
        this.visible = false
        this.notifySnack(message, details, 'negative', 'cancel')
        if (error.response.status === 403) {
          this.$root.$emit('remove-timer')
          clearInterval(this.intervalId)
          this.clearBeforeLogout()
          that.$router.replace('/login')
        }
      })
    },
    refresher (index, done) {
      let numTweets = this.getNumTweets()
      let start = index * numTweets + 1
      let end = (index + 1) * numTweets
      this.setViewedTweets(this.getTweets.slice(start, end))
      if (end >= this.getTweets.length) {
        done(true)
        this.$refs.infiniteScroll.stop()
        this.showSpinnerDots = false
      } else {
        done()
      }
    }
  },
  created () {
    this.audio = new Audio('/static/Ping-tone.mp3')
    this.audio.volume = 0.1
    let timerRefreshHandler = () => {
      this.requestTweets()
      this.setUpdateMessages({title: this.$root.$i18n.t('tweets_update_message_formatted', [this.tweets.length]),
        subtitle: this.getDateNowFormatted()})
    }
    let refreshHandler = () => {
      this.requestTweets()
    }

    if (this.tweets.length === 0 || this.getUpdateNeeded()) {
      this.requestTweets()
    }
    if (!this.getEventsRegistered()) {
      this.$root.$on('refresh', refreshHandler)
      this.$root.$on('timer_refresh', timerRefreshHandler)
      this.setEventsRegistered(true)
    }

    this.$root.$once('stop-listening', () => {
      this.$root.$off('refresh', refreshHandler)
      this.$root.$off('timer_refresh', timerRefreshHandler)
    })

    this.connect()
  }
}
</script>
