<!--suppress NpmUsedModulesInstalled, JSUnusedGlobalSymbols, JSUnresolvedFunction, JSUnresolvedVariable -->
<template>
  <q-card class="shadow-24 shadow-transition" style="max-width:400px; vertical-align: middle; margin: 80px auto 50px;">
    <q-card-title :class="finalBgColor" style="text-align: center">
      <svg id="svgNewPassword" viewBox="0 0 483 483" style="enable-background:new 0 0 460 460;"
           width="128px" height="128px" xml:space="preserve" v-html="logoMethod">
        </svg>
    </q-card-title>
    <q-card-separator></q-card-separator>
    <q-card-main>
      <div class=".q-body-1 text-italic relative-position v-ripple round-borders" v-ripple>{{$t('new_password_page_information')}}</div>
      <div class="card-content bg-white ">
        <div class="stacked-label">
          <q-field :error="$v.form.token.$error" :error-label="this.$i18n.t('validation_error')">
            <q-input v-model="form.token" :stack-label="this.$i18n.t('new_password_page_input_token')"
                     @blur="$v.form.token.$touch" @keyup.enter="login" :error="$v.form.token.$error"
                     :placeholder="this.$i18n.t('new_password_page_input_placeholder_token')"></q-input>
          </q-field>
        </div>
        <div class="stacked-label">
          <q-field :error="$v.form.password.$error" :error-label="this.$i18n.t('validation_error')">
            <q-input v-model="form.password" :stack-label="this.$i18n.t('new_password_page_input_password')" type="password"
                     @blur="$v.form.password.$touch" @keyup.enter="register" :error="$v.form.password.$error"
                     :placeholder="this.$i18n.t('new_password_page_input_placeholder_password')"></q-input>
          </q-field>
        </div>
        <div class="stacked-label">
          <q-field :error="$v.form.confirmPassword.$error" :error-label="this.$i18n.t('validation_error')">
            <q-input v-model="form.confirmPassword" :stack-label="this.$i18n.t('new_password_page_input_confirm_password')" type="password"
                     @blur="$v.form.confirmPassword.$touch" @keyup.enter="register" :error="$v.form.confirmPassword.$error"
                     :placeholder="this.$i18n.t('new_password_page_input_placeholder_confirm_password')"></q-input>
          </q-field>
        </div>
      </div>
      <div class="card-actions inline-block vertical-middle">
        <q-btn bordered color="primary" icon-right="done_all" style="width:220px; margin-top:20px"
               :label="this.$i18n.t('new_password_page_button_change')" size="form" @click="changePassword">
        </q-btn>
      </div>
    </q-card-main>  </q-card>
</template>

<script>

import { Platform } from 'quasar'
import logoData from './logoData'
import { required, minLength, sameAs } from 'vuelidate/lib/validators'
import qs from 'qs'
import mixin from '../mixins/mixin'

export default {
  name: 'NewPassword',
  mixins: [mixin],
  mounted () {
    this.startAnimation('svgNewPassword')
  },
  beforeDestroy () {
  },
  computed: {
    heightSize () {
      if (Platform.is.desktop) {
        return 'items-center'
      }
      return ''
    },
    finalBgColor () {
      return `bg-yellow-10`
    },
    logoMethod () {
      return logoData[this.logo]
    }
  },
  data () {
    return {
      form: {
        token: '',
        password: '',
        confirmPassword: ''
      },
      logos: Object.keys(logoData),
      logo: 'Digitalizer'
    }
  },
  validations: {
    form: {
      token: {
        required,
        minLength: minLength(36)
      },
      password: {
        required,
        minLength: minLength(6)
      },
      confirmPassword: {
        sameAsPassword: sameAs('password')
      }
    }
  },
  methods: {
    changePassword () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        this.notifySnack(this.$i18n.t('validation_error'), this.$i18n.t('validation_error_details'), 'negative', 'cancel')
        this.$refs.stepper.previous()
        return
      }
      const formData = {
        token: this.form.token,
        newPassword: this.form.password,
        matchingPassword: this.form.confirmPassword
      }
      this.showLoading(this.$i18n.t('loading_message'))
      this.$axios.post('/api/changepassword', qs.stringify(formData)).then(response => {
        this.notifySnack(this.$i18n.t('success'), this.$i18n.t('new_password_page_message_password_changed'), 'positive', 'check_circle_outline')
        this.hideLoading()
        this.$router.push('/login')
      }).catch(error => {
        let message = this.$i18n.t('failed')
        let details = ''
        if (error.response) {
          if (error.response.status === 417) {
            details = error.response.data.error + ' ' + error.response.data.message
          } else {
            details = error.response.status + ' ' + error.response.statusText
          }
        } else if (error.request) {
          details = error.request
        } else {
          details = error.message
        }
        console.error(error)
        this.hideLoading()
        this.notifySnack(message, details, 'negative', 'cancel')
      })
    }
  },
  watch: {
    '$route' () {
      this.startAnimation('svgNewPassword')
    }
  }
}
</script>
