<!--suppress NpmUsedModulesInstalled, JSUnusedLocalSymbols, JSUnusedGlobalSymbols, JSUnresolvedFunction -->
<template>
  <q-card class="shadow-24 shadow-transition"
          style="max-width:400px; vertical-align: middle; margin: 80px auto 50px;">
    <q-card-title :class="finalBgColor" style="text-align: center">
      <svg id="svgRestore" viewBox="0 0 483 483" style="enable-background:new 0 0 460 460;"
           width="128px" height="128px" xml:space="preserve" v-html="logoMethod">
        </svg>
    </q-card-title>
    <q-card-separator></q-card-separator>
    <q-card-main>
      <div class=".q-body-1 text-italic relative-position v-ripple round-borders" v-ripple>{{$t('restore_page_information')}}</div>
      <div class="card-content bg-white ">
        <div class="stacked-label">
          <q-field :error="$v.form.email.$error" :error-label="this.$i18n.t('validation_error')">
            <q-input v-model="form.email" :stack-label="this.$i18n.t('restore_page_input_email')" type="email"
                     @blur="$v.form.email.$touch" @keyup.enter="sendToken" :error="$v.form.email.$error"
                     :placeholder="this.$i18n.t('restore_page_input_placeholder_email')"></q-input>
          </q-field>
        </div>
      </div>
      <div class="card-actions inline-block vertical-middle">
        <q-btn bordered color="primary" icon-right="done_all" style="width:220px; margin-top:20px"
               :label="this.$i18n.t('restore_page_button_restore')" size="form" @click="sendToken">
        </q-btn>
      </div>
    </q-card-main>
  </q-card>

</template>

<script>
import logoData from './logoData'
import { required, email } from 'vuelidate/lib/validators'
import { Platform } from 'quasar'
import qs from 'qs'
import mixin from '../mixins/mixin'
export default {
  name: 'Restore',
  mixins: [mixin],
  mounted () {
    this.startAnimation('svgRestore')
  },
  beforeDestroy () {
  },
  computed: {
    heightSize () {
      if (Platform.is.desktop) {
        return 'items-center'
      }
      return ''
    },
    finalBgColor () {
      return `bg-yellow-10`
    },
    logoMethod () {
      return logoData[this.logo]
    }
  },
  data () {
    return {
      form: {
        email: ''
      },
      logos: Object.keys(logoData),
      logo: 'Keytronic'
    }
  },
  validations: {
    form: {
      email: {
        required, email
      }
    }
  },
  methods: {
    sendToken () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        this.notifySnack(this.$i18n.t('validation_error'), this.$i18n.t('validation_error_details'), 'negative', 'cancel')
        return
      }
      this.showLoading(this.$i18n.t('loading_message'))
      this.$axios.post('/api/sendtoken', qs.stringify({email: this.form.email})).then(response => {
        this.notifySnack(this.$i18n.t('success'), this.$i18n.t('restore_page_message_mail_sent'), 'positive', 'check_circle_outline')
        this.hideLoading()
        this.$router.push('/changepassword')
      }).catch(error => {
        let message = this.$i18n.t('failed')
        let details = ''
        if (error.response) {
          if (error.response.status === 417) {
            details = error.response.data.error + ' ' + error.response.data.message
          } else {
            details = error.response.status + ' ' + error.response.statusText
          }
        } else if (error.request) {
          details = error.request
        } else {
          details = error.message
        }
        console.error(error)
        this.hideLoading()
        this.notifySnack(message, details, 'negative', 'cancel')
      })
    }
  },
  watch: {
    '$route' (to, from) {
      this.startAnimation('svgRestore')
    }
  }
}
</script>
