<!--suppress JSUnusedLocalSymbols, JSUnusedGlobalSymbols, NpmUsedModulesInstalled, JSUnresolvedVariable, JSUnresolvedFunction -->
<template>
  <q-card class="shadow-24 shadow-transition"
    style="max-width:400px; vertical-align: middle; margin: 80px auto 50px;">
    <q-card-title :class="finalBgColor" style="text-align: center">
        <svg id="svgToken" viewBox="0 0 483 483" style="enable-background:new 0 0 460 460;"
          width="128px" height="128px" xml:space="preserve" v-html="logoMethod">
        </svg>
    </q-card-title>
    <q-card-separator></q-card-separator>
    <q-card-main>
      <div class=".q-body-1 text-italic relative-position v-ripple round-borders" v-ripple>{{$t('token_page_information')}}</div>
      <div class="card-content bg-white ">
        <div class="stacked-label">
          <q-field :error="$v.form.token.$error" :error-label="this.$i18n.t('validation_error')">
            <q-input v-model="form.token" :stack-label="this.$i18n.t('token_page_input_token')" type="email"
              @blur="$v.form.token.$touch" @keyup.enter="login" :error="$v.form.token.$error"
             :placeholder="this.$i18n.t('token_page_input_placeholder_token')"></q-input>
            </q-field>
        </div>
      </div>
      <div class="card-actions inline-block vertical-middle">
        <q-btn bordered color="primary" icon-right="done_all" style="width:220px; margin-top:20px"
          :label="this.$i18n.t('token_page_tab_confirm')" size="form" @click="confirm">
        </q-btn>
      </div>
    </q-card-main>
  </q-card>

</template>

<script>
import logoData from './logoData'
import { required, minLength } from 'vuelidate/lib/validators'
import { Platform } from 'quasar'
import qs from 'qs'
import mixin from '../mixins/mixin'

export default {
  name: 'Token',
  mixins: [mixin],
  mounted () {
    this.startAnimation('svgToken')
  },
  beforeDestroy () {
  },
  computed: {
    heightSize () {
      if (Platform.is.desktop) {
        return 'items-center'
      }
      return ''
    },
    finalBgColor () {
      return `bg-yellow-10`
    },
    logoMethod () {
      return logoData[this.logo]
    }
  },
  data () {
    return {
      form: {
        token: ''
      },
      logos: Object.keys(logoData),
      logo: 'Molectron'
    }
  },
  validations: {
    form: {
      token: {
        required,
        minLength: minLength(36)
      }
    }
  },
  methods: {
    confirm () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        this.notifySnack(this.$i18n.t('validation_error'), this.$i18n.t('validation_error_details'), 'negative', 'cancel')
        return
      }
      this.showLoading(this.$i18n.t('loading_message'))
      this.$axios.post('/api/verify', qs.stringify({token: this.form.token})).then(response => {
        this.notifySnack(this.$i18n.t('success'), this.$i18n.t('register_page_message_verified_token'), 'positive', 'check_circle_outline')
        this.hideLoading()
        this.$router.push('/login')
      }).catch(error => {
        let message = this.$i18n.t('failed')
        let details = ''
        if (error.response) {
          if (error.response.status === 417) {
            details = error.response.data.error + ' ' + error.response.data.message
          } else {
            details = error.response.status + ' ' + error.response.statusText
          }
        } else if (error.request) {
          details = error.request
        } else {
          details = error.message
        }
        console.error(error)
        this.hideLoading()
        this.notifySnack(message, details, 'negative', 'cancel')
      })
    }
  },
  watch: {
    '$route' (to, from) {
      this.startAnimation('svgToken')
    }
  }
}
</script>
