<!--suppress JSUnusedGlobalSymbols, JSUndeclaredVariable, JSUnresolvedVariable -->
<template>
  <div id="q-app">
    <transition enter-active-class="animated bounceInLeft"  leave-active-class="animated bounceOutRight" appear >
      <q-alert v-if="visible" color="secondary" icon="info" type="positive" appear
        :actions="[{ label: this.$i18n.t('dismiss'), handler: () => { visible = false } }]">
        <div class=".q-body-1 relative-position v-ripple round-borders" v-ripple>{{$t('app_greetings')}}</div>
      </q-alert>
    </transition>
    <router-view></router-view>
    <q-ajax-bar></q-ajax-bar>
  </div>
</template>

<script>
import {localStorageKeys} from './helpers/localStorageKeys'
export default {
  name: 'App',
  data () {
    return {
      lang: this.$q.i18n.lang,
      visible: true
    }
  },
  created () {
    this.$root.$on('hide-q-alert', () => {
      this.visible = false
    })
    this.lang = this.$q.localStorage.has(localStorageKeys.LANGUAGE_KEY)
      ? this.lang = this.$q.localStorage.get.item(localStorageKeys.LANGUAGE_KEY)
      : this.$q.i18n.lang
    this.$q.i18n.set(this.lang.default)
    this.$locale.change(this.lang)
    import(`src/i18n/${this.lang}`).then(lang => { this.$q.i18n.set(lang.default) })
    this.$q.localStorage.set(localStorageKeys.LANGUAGE_KEY, this.lang)
  },
  methods: {
  }
}
</script>

<style>
</style>
